html {
    font-size: 15px;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: hsl(212, 45%, 89%);
}

p {
    font-weight: 400;
    color: gray;
}

h3 {
    font-weight: 700;
}


img {
    max-inline-size: 100%;
    display: block;
    border-radius: 15px;
} 


.center-qr {
    height:fit-content;
    max-width: 200px;
    position: absolute;
    margin: auto;
    inset: 0;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}


.attribution { 
    font-size: 15px; 
    text-align: center;
    position: absolute;
    bottom: 0;
    right:0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); }
